body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #EEE9C8;
}

.navbar {
    background-color: #6D071A;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

/* first-group-[styles] */
.logo {
    padding: 5px;
    font-weight: bold;
    color: white;
}

.search-bar {
    display: flex;
    align-items: center;
}

.round-button {
    border-radius: 50px;
    margin-left: 10px;
}

.navbar button:hover {
    background-color: #daac39;
}

/* second-group-styles */
.centered-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    margin: 0 5px;
    padding: 8px 15px;
    background-color: #B0903D;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.centered-buttons a {
    text-decoration: none;
    color: white;
}

.centered-buttons button:hover {
    background-color: #daac39;
}

/* last-group-[styles] */
.right-side {
    display: flex;
    align-items: center;
}

.welcome-text {
    font-size: 14px;
    margin-right: 10px;
    color: white;
}

.login-button {
    padding: 8px 15px;
    background-color: #B0903D;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #9c0a25;
    border-radius: 34px;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #B0903D;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* [hero] */
.hero {
    display: flex;
}

/* first-item-[styles] */
.image-container {
    position: relative;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    border: 5px solid #B0903D;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.hero img {
    width: 300px;
    height: auto;
}

.icon-row {
    position: absolute;
    bottom: -45px;
    left: 18px;
}

.icon-link {
    display: inline-block;
    margin-right: 10px;
}

.icon-link img {
    width: 30px;
    height: 30px;
    border: 3px solid #6D071A;
}

/* second-item-[styles] */
.text-container {
    margin-left: 20px;
    margin-top: 50px;
}

h1 {
    font-size: 24px;
}

.text-container p {
    font-size: 25px;
    color: #6D071A;
}

.read-more, .gallery-button {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #6D071A;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

.read-more:hover, .gallery-button:hover {
    background-color: #B0903D;
}

/* books-section */
.books-section {
    overflow-x: auto;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.book-group {
    display: flex;
}

.book-card {
    flex: 0 0 auto;
    width: 250px;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #6D071A;
    border-radius: 5px;
}

.book-card img {
    width: 100%;
    height: auto;
}

h2 {
    font-size: 18px;
    margin: 5px 0;
    color: #6D071A;
}

p {
    font-size: 14px;
    color: #6D071A;
    
    margin: 5px 0;
}

.buy-button,
.save-book-button {
    display: inline-block;
    padding: 8px 16px;
    background-color: #B0903D;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
}

.save-book-button {
    background-color: #B0903D;
}

.buy-button:hover {
    background-color: #daac39;
}

.save-book-button:hover {
    background-color: #daac39;
}

/* related-subjects */
.related-subjects {
    margin-left: 20px;
    margin-right: 20px;
}

.heading-bs {
    margin-top: 100px;
    margin-left: 20px;
    text-align: center;
}

.related-subjects a {
    text-decoration: none;
    color: #B0903D;
}

/* contact-section */
.contact-section {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.map-container,
.contact-form-container {
    flex: 1;
    padding: 20px;
    border: 5px solid #6D071A;
}

.map-container {
    margin-right: 10px;
}

.map-container iframe {
    width: 100%;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input,
textarea {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-section button {
    padding: 10px 20px;
    background-color: #6D071A;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #B0903D;
}

.heading h3 {
    margin-top: 100px;
    margin-left: 20px;
    text-align: center;
}

/* footer-section */
.footer {
    background-color: #6D071A;
    padding: 20px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.footer-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-item {
    flex: 1 0 25%;
    margin-bottom: 20px;
}

.footer-item h3 {
    margin-bottom: 10px;
}

.ftr-image-container img {
    width: 90px;
    height: auto;
}

.footer a {
    text-decoration: none;
    color: #B0903D;
    /* [added] */
    flex: 1 0 25%;
    margin-bottom: 20px;
}

/* fourth-div */
.social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icon {
    margin-right: 10px;
}

.social-icon img {
    width: 30px;
    height: 30px;
}

  /* fifth-div-[copyright] */
.footer-item:last-child {
    text-align: center;
}

.footer p {
    color: #B0903D;
}

/* lst */
/* [srch-br] */
.search-bar-wrapper input[type="text"] {
    padding-right: 40px;
    width: 152px;
}

/* [responsive-styles] */
@media only screen and (max-width: 768px) {
    /* [for-tablets] */
    .navbar {
        flex-direction: column;
    }

    .logo,
    .centered-buttons,
    .right-side {
        width: 100%;
        text-align: center;
    }

    .search-bar {
        margin-top: 10px;
    }

    .text-container {
        text-align: center;
    }

    .book-group {
        display: flex;
        flex-wrap: wrap;
    }

    .book-card {
        width: 45%;
        margin: 10px;
    }
}

@media only screen and (max-width: 480px) {
    /* [for-mobiles] */
    .navbar {
        flex-direction: column;
    }

    .logo,
    .search-bar,
    .centered-buttons,
    .right-side {
        width: 100%;
        text-align: center;
    }

    .hero {
        flex-direction: column;
    }

    .text-container {
        text-align: center;
    }

    .book-group {
        display: flex;
        flex-wrap: wrap;
    }

    .book-card {
        width: 100%;
        margin: 10px;
    }
}